* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Jura;
  font-size: 17px;
  color: black;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
